

<head>

        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/lib/css/stylesheet.css" rel="stylesheet">
        <link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    
    
    </head>
    
    
    
    
    <body>
    
    <div class="card bg-light">
    <div class="card-header text-center">
            <h3>Bienvenue sur le site du Court-Mais-Trash</h3>
    </div>
    <article class="card-body mx-auto">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Remplissage du Court-mais-Trash</h5>
              <p class="card-text">Bonjour à tous,<br>

                    Le Court-Mais-Trash vient comme chaque trimestre solliciter votre opinion sur les cours que vous avez suivi.<br>
                    
                    <strong>Cette édition concerne exclusivement les cours du <%= study.Trimestre %> <%= study.Annee %>.</strong><br><br>
                     
                    <strong>Le CMT est important.</strong> Pour beaucoup de cours, il permet de mieux savoir à quoi s'attendre en plus du syllabus<br>
                    (en dépit des efforts des étudiants du Comité d'Enseignement).<br>
                    <strong>Le CMT n'est pas officiel.</strong> Vos avis sont anonymes. Formulez vos avis de façon à ce qu'il soient utiles aux autres <br>
                    étudiants, sans langue de bois.<br><br>
                    
                    Merci de consacrer 5 mins à ce questionnaire, <strong>le CMT n'est rien sans vos réponses !</strong><br><br>
                    
                    ****<br><br>
                    Hello all,<br>
                    
                    Like for every trimester, the CMT (Court-Mais-Trash) is sent to you to ask your opinion about the classes you took.<br>
                    <strong>This questionnaire is only about the <%= study.Trimestre %> <%= study.Annee %>.</strong><br><br>
                    
                    <strong>The CMT is unofficial.</strong> Your answers are anonymous. You may answer in a way that will help your fellow students, <br>
                    with no restraint.<br>
                    <strong>The CMT is important.</strong> For many classes, the syllabus does not provide a satisfying amount of information about the class;<br>
                    the CMT mitigates this issue.<br>
                    <strong>The CMT would not exist without your answers.</strong><br><br>
                    
                    Please dedicate 5 to 10 mins to answer this survey, <strong> the CMT would not exist without your answers! </strong>
                    
              </p>
              <p class="text-center"><a href="/study/<%= study.Identifiant %>/fill" class="btn btn-secondary">Répondre au CMT</a></p>

              <p class="text-center"><a href="/" class="card-link">Aller à l'accueil du CMT</a></p>
            </div>
          </div>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
    <div class="footer">
            <div class="container">
                <p class="text-center text-muted">Made with <span class="oi oi-heart text-danger"></span> in Cergy, By Havana</p>
            </div>
    </div>
    
    </body>